nav.menu-nav ul li.lol{
    list-style-type: none;
}

nav.menu-nav ul li.lol a{
    color: rgb(243, 243, 243);
    background-color: rgb(46, 10, 207);
    background-size: 50px;
}

nav.menu-nav ul li.lol:hover a{
    color: red;
    background-color: rgb(56, 18, 223);
    transition: 0.7s all;
}

p.slt{
    color: rgba(10, 173, 32, 0.466);
    opacity: 70;
    font-weight: bold;
}

p.clique{
    color: rgb(56, 18, 223);
    font-weight: bold;
    opacity: 7;
}

body{
    background: rgb(0, 0, 0);
    background-size: 100%;
    text-align: center;
}

h1.hl{
    font-size: 100px;
    font-weight: bold;
    color: violet;
}

a{
    color: rgb(242, 242, 243);
    opacity: 4;
}

